<div id="passToolbar" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h1 class="float-md-start mb-0 fw-bold text-black">Mikrometeoriten</h1>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link text-black" routerLinkActive="microActiveLink" aria-current="page" routerLink="/home">Home</a>
          <a class="nav-link text-black" routerLinkActive="microActiveLink" routerLink="/funde">Funde</a>
          <a class="nav-link text-black" routerLinkActive="microActiveLink" routerLink="/administration">Administration</a>
        </nav>
      </div>
    </header>
</div>
