<div id="homeComponent">
    <micro-banner [title]="'Herzlich Willkommen!'" [subtitle]="'Über die Anlage eines Fundes können Sie herausfinden ob es sich bei Ihrem Fund um einen Mikrometeoriten handelt.'"></micro-banner>
    <mat-card id="createFindingCard">
        <mat-card-title>
            Fund anlegen
        </mat-card-title>
        <mat-card-subtitle>
            Über diese Karte können Sie einen Fund anlegen.
        </mat-card-subtitle>
        <mat-card-actions align="start">
            <button mat-raised-button [routerLink]="['/erstellen']">anlegen</button>
        </mat-card-actions>
    </mat-card>
</div>