<mat-stepper #stepper [linear]="true" orientation="horizontal">
    <mat-step [stepControl]="imageForm">
        <ng-template matStepLabel>Bilder auswählen</ng-template>
        <form [formGroup]="imageForm">
            <div formArrayName="images">
                <mat-card class="card m-2 p-2" *ngFor="let image of imagesFormArray.controls; let i = index"
                    [formGroupName]="i">
                    <mat-card-title align="end">
                        <button mat-icon-button (click)="removeImageForm(i)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </mat-card-title>
                    <mat-card-content>
                        <div class="container">
                            <div class="container" [formGroup]="getPhotographerFormGroup(i)">
                                <div class="row">
                                    <h2>Fotograf</h2>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Vorname</mat-label>
                                            <input matInput formControlName='firstname'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('firstname')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Name</mat-label>
                                            <input matInput formControlName='name'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('name')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Geburtstag</mat-label>
                                            <input matInput [matDatepicker]="photographerBirthdayPicker" formControlName="birthday">
                                            <mat-datepicker-toggle matSuffix [for]="photographerBirthdayPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #photographerBirthdayPicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Straße</mat-label>
                                            <input matInput formControlName='street'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('street')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Ort</mat-label>
                                            <input matInput formControlName='location'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('location')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Postleitzahl</mat-label>
                                            <input matInput formControlName='zipcode'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('location')?.hasError('pattern')">
                                                Eingabe nicht numerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Land</mat-label>
                                            <input matInput formControlName='country'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('country')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Email</mat-label>
                                            <input matInput formControlName='email'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('email')?.hasError('email')">
                                                Ungültige Email</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Telefon</mat-label>
                                            <input matInput formControlName='phonenumber'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('phonenumber')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Webseite</mat-label>
                                            <input matInput formControlName='website'>
                                            <mat-error
                                                *ngIf="getPhotographerFormGroup(i)?.get('website')?.hasError('pattern')">
                                                Eingabe nicht alphanumerisch</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <h2>Sonstiges</h2>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Aufnahmeinstrument</mat-label>
                                            <input matInput formControlName="recordingInstrument">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Datum</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="photographyDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Vergrößerung</mat-label>
                                            <input matInput formControlName="magnification">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Kamera</mat-label>
                                            <input matInput formControlName="camera">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-auto">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Objektiv</mat-label>
                                            <input matInput formControlName="lens">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <h2>Datei</h2>
                                </div>
                                <button mat-stroked-button (click)="fileUpload.click()">Datei auswählen</button>
                                <input type="file" class="file-input" formControlName="image"
                                    (change)="onFileChange($event, i)" #fileUpload>
                                {{imagesFormArray.at(i).get("image")?.value || "Keine Datei ausgewählt."}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <button mat-icon-button (click)="addImageForm()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </form>
        <div>
            <button mat-button matStepperNext
                [disabled]="imagesFormArray.invalid || imagesFormArray.length < 1">weiter</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="findingFormGroup">
        <form [formGroup]="findingFormGroup">
            <ng-template matStepLabel>Erfassung der Daten zum Fund</ng-template>
            <div class="container" [formGroup]="micrometeoriteFindFinder">
                <div class="row">
                    <h2>Finder</h2>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Vorname</mat-label>
                            <input matInput formControlName='firstname'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('firstname')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName='name'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('name')?.hasError('pattern')">Eingabe nicht
                                alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Geburtstag</mat-label>
                            <input matInput [matDatepicker]="finderBirthdayPicker" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="finderBirthdayPicker"></mat-datepicker-toggle>
                            <mat-datepicker #finderBirthdayPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Straße</mat-label>
                            <input matInput formControlName='street'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('street')?.hasError('pattern')">Eingabe nicht
                                alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Ort</mat-label>
                            <input matInput formControlName='location'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('location')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Postleitzahl</mat-label>
                            <input matInput formControlName='zipcode'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('zipcode')?.hasError('pattern')">Eingabe
                                nicht numerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Land</mat-label>
                            <input matInput formControlName='country'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('country')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName='email'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('email')?.hasError('email')">Ungültige Email
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Telefon</mat-label>
                            <input matInput formControlName='phonenumber'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('phonenumber')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Webseite</mat-label>
                            <input matInput formControlName='website'>
                            <mat-error *ngIf="micrometeoriteFindFinder.get('website')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="container" [formGroup]="micrometeoriteFindRecorder">
                <div class="row">
                    <h2>Erfasser</h2>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Vorname</mat-label>
                            <input matInput formControlName='firstname'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('firstname')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName='name'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('name')?.hasError('pattern')">Eingabe nicht
                                alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Geburtstag</mat-label>
                            <input matInput [matDatepicker]="recorderBirthdayPicker" formControlName="birthday">
                            <mat-datepicker-toggle matSuffix [for]="recorderBirthdayPicker"></mat-datepicker-toggle>
                            <mat-datepicker #recorderBirthdayPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Straße</mat-label>
                            <input matInput formControlName='street'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('street')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Ort</mat-label>
                            <input matInput formControlName='location'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('location')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Postleitzahl</mat-label>
                            <input matInput formControlName='zipcode'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('zipcode')?.hasError('pattern')">Eingabe
                                nicht numerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Land</mat-label>
                            <input matInput formControlName='country'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('country')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName='email'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('email')?.hasError('email')">Ungültige
                                Email</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Telefon</mat-label>
                            <input matInput formControlName='phonenumber'>
                            <mat-error *ngIf="micrometeoriteFindRecorder.get('phonenumber')?.hasError('pattern')">
                                Eingabe nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Webseite</mat-label>
                            <input matInput formControlName='website'>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <h2>Sonstiges</h2>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Datum</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="micrometeoriteFindDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>GPS-Daten</mat-label>
                            <input matInput placeholder="Breite/Länge" formControlName="micrometeoriteFindCoordinates">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Ort</mat-label>
                            <input matInput placeholder="Nürnberger Burggraben"
                                formControlName="micrometeoriteFindPlace">
                            <mat-error *ngIf="findingFormGroup.get('micrometeoriteFindPlace')?.hasError('pattern')">
                                Eingabe nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Beschreibung</mat-label>
                            <input matInput placeholder="Beschreibung"
                                formControlName="micrometeoriteFindPlaceDescription">
                            <mat-error
                                *ngIf="findingFormGroup.get('micrometeoriteFindPlaceDescription')?.hasError('pattern')">
                                Eingabe nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Form</mat-label>
                            <input matInput placeholder="rund" formControlName="micrometeoriteForm">
                            <mat-error *ngIf="findingFormGroup.get('micrometeoriteForm')?.hasError('pattern')">Eingabe
                                nicht alphanumerisch</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Gewicht</mat-label>
                            <input matInput placeholder="Gewicht" formControlName="micrometeoriteWeight">
                            <mat-error *ngIf="findingFormGroup.get('micrometeoriteWeight')?.hasError('pattern')">Eingabe
                                nicht numerisch</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Chemische Zusammensetzung</mat-label>
                            <input matInput placeholder="Zusammensetzung"
                                formControlName="micrometeoriteChemicalComposition">
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="fill">
                            <mat-label>Kommentar</mat-label>
                            <input matInput placeholder="Kommentar" formControlName="micrometeoriteFindComment">
                            <mat-error *ngIf="findingFormGroup.get('micrometeoriteFindComment')?.hasError('pattern')">
                                Eingabe nicht numerisch</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext [disabled]="findingFormGroup.invalid">weiter</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Ergebnis</ng-template>
        <p>Das System meldet folgendes Ergebnis.</p>
        <div>
            <button mat-button matStepperPrevious>zurück</button>
            <button mat-button (click)="stepper.reset()">zurücksetzen</button>
            <button mat-button (click)="save()">speichern</button>
        </div>
    </mat-step>
</mat-stepper>