/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(33,37,41) !important;}
.microContainer {
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.microActiveLink {
    font-weight: bold;
    border-bottom: 2px solid white;
}