<mat-dialog-content class="mat-typography">
    <mat-stepper #stepper linear orientation="vertical">
        <mat-step [stepControl]="imageForm" errorMessage="Bitte Bilder hochladen.">
            <ng-template matStepLabel>Bilder auswählen</ng-template>
            <form [formGroup]="imageForm">
                <div formArrayName="images">
                    <mat-card class="card m-2 p-2" *ngFor="let image of imagesFormArray.controls; let i = index"
                        [formGroupName]="i">
                        <mat-card-title align="end">
                            <button mat-icon-button (click)="removeImageForm(i)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </mat-card-title>
                        <mat-card-content>
                            <div class="d-flex flex-column justify-content-around">
                                <div class="p-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Fotograf</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Aufnahmeinstrument</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="p-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Vergrößerung</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Aufnahmedatum</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="p-2">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Kamera</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Objektiv</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-between">
                                <div class="p-2">
                                    <button mat-stroked-button (click)="fileUpload.click()">Datei auswählen</button>
                                    <input type="file" class="file-input" formControlName="image"
                                        (change)="onFileChange($event, i)" #fileUpload>
                                    {{imagesFormArray.at(i).get("image")?.value || "Keine Datei ausgewählt."}}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                    <button mat-icon-button (click)="addImageForm()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </form>
            <div>
                <button mat-button matStepperNext [disabled]="imagesFormArray.invalid">weiter</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="findingFormGroup" errorMessage="Daten zum Fund invalide.">
            <form [formGroup]="findingFormGroup">
                <ng-template matStepLabel>Erfassung der Daten zum Fund</ng-template>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl">
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext [disabled]="findingFormGroup.invalid">weiter</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Ergebnis</ng-template>
            <p>Das System meldet folgendes Ergebnis.</p>
            <div>
                <button mat-button matStepperPrevious>zurück</button>
                <button mat-button (click)="stepper.reset()">zurücksetzen</button>
                <button mat-button (click)="save()">speichern</button>
            </div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>